.header{
    height:100px;
   background-color: lightblue;
}
.wrapper{
    overflow: hidden;
   
}
.contact{
    background-color: lightsalmon;
    height: 300px;
    width: 60%;
    float: left;
}
.blog{
   background-color: darkorchid;
    height: 300px;
    width: 40%;
    float: right;
}
.footer{
    background-color: slategrey;
    height: 80px;
    /* clear:both; */
}